<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Danh Sách Thiết Kế Chờ Duyệt</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/approvalDesign.css">
</head>
<body>
<div class="container">
  <!-- Thông báo thành công -->
  <div th:if="${successMessage}" class="alert alert-success" role="alert">
    <p th:text="${successMessage}"></p>
  </div>

  <h2>List Approval</h2>
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Design Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Water Capacity</th>
      <th>Time Completion</th>
      <th>Size</th>
      <th>Shape Of Pond</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="design : ${pendingDesigns}">
      <td th:text="${design.designId}"></td>
      <td th:text="${design.designName}"></td>
      <td th:text="${design.description}"></td>
      <td th:text="${design.formattedPrice}"></td>
      <td th:text="${design.waterCapacity}"></td>
      <td th:text="${design.estimatedCompletionTime}"></td>
      <td th:text="${design.size}"></td>
      <td th:text="${design.shapeOfPond}"></td>
      <td>
        <a th:href="@{'/manager/designs/' + ${design.designId} + '/details'}" class="btn btn-info">Details</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
