<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Blog List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        /* Your existing CSS here */
    </style>
</head>
<body>
<div class="container">
    <h1>All Blogs</h1>

    <!-- Button to return to homepage -->
    <div class="button-container">
        <a th:href="@{/}" class="btn-custom return-home-btn">Return to Homepage</a>

        <!-- Add New Blog Button - visible for any logged-in user -->
        <a th:if="${session.loggedInUser != null}" th:href="@{/blogs/create}" class="btn btn-primary">Add New Blog</a>
    </div>

    <!-- Blog list -->
    <ul class="blog-list">
        <li th:each="blog : ${blogs}">
            <!-- Blog title -->
            <a th:href="@{/blogs/{id}(id=${blog.blogID})}" th:text="${blog.title}" class="blog-title"></a>

            <!-- Customer name -->
            <p class="customer-name" th:text="'Posted by: ' + ${blog.customer.account.accountName}"></p>

            <!-- Blog excerpt -->
            <p class="blog-excerpt" th:text="${blog.content.length() > 100 ? #strings.substring(blog.content, 0, 100) + '...' : blog.content}"></p>

            <!-- Blog image (optional) -->
            <img th:if="${blog.imageUrl != null}" th:src="${blog.imageUrl}" alt="Blog Image" class="blog-image">
        </li>
    </ul>
</div>
</body>
</html>
