<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Design Detail</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2>Design Detail</h2>
  <div>
    <p><strong>ID  :</strong> <span th:text="${design.designId}"></span></p>
    <p><strong>designName:</strong> <span th:text="${design.designName}"></span></p>
    <p><strong>description:</strong> <span th:text="${design.description}"></span></p>
    <p><strong>price:</strong> <span th:text="${design.price}"></span> VNĐ</p>
    <p><strong>waterCapacity:</strong> <span th:text="${design.waterCapacity}"></span> lít</p>
    <p><strong>shapeOfPond:</strong> <span th:text="${design.shapeOfPond}"></span></p>
    <p><strong>size:</strong> <span th:text="${design.size}"></span></p>
    <p><strong>status:</strong> <span th:text="${design.status}"></span></p>
  </div>
  <a th:href="@{'/customer/dashboard'}" class="btn btn-default">Back </a>
  <a th:if="${design.status.name() == 'NeedToPayment'}"
     th:href="@{'/customer/design/' + ${design.designId} + '/payment'}"
     class="btn btn-success">Pay</a>
</div>
</body>
</html>