<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap -->
  <link
          rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  />
  <link
          href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
          rel="stylesheet"
  />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />
  <script th:src="@{/javascript/designService.js}" defer></script>
  <link th:href="@{/css/DesignService.css}" rel="stylesheet" />

  <title>Design service</title>
</head>
<body>
<!-- HEADER -->
<div class="nav">
  <div class="nav-button">
    <button id="menu-toggle" class="btn">&#9776;</button>
  </div>
  <div class="nav-logo">
    <p>KoiPond</p>
  </div>
  <div class="nav-menu" id="navMenu">
    <ul>
      <li><a th:href="@{/}" class="link">Home</a></li>
      <li><a th:href="@{/blogs}" class="link">Blog</a></li>
      <li><a th:href="@{/design}" style="color: black;">Services</a></li>

      <!-- Display these links only if the user is logged in -->
      <li><a th:href="@{/customer/dashboard}" class="link">Customer Dashboard</a></li>
      <li> <a th:href="@{customer/customer-projects}" class="link">Project</a></li>
      <li> <a th:href="@{/account/customer/completed-projects}" class="link">History</a></li>
      <li>
        <a href="#" class="icon"
        ><i class="fas fa-shopping-cart"></i
        ><span class="notification-badge">0</span></a
        >
      </li>
      <li>
        <a href="#" class="icon" id="accountIcon"
        ><i class="fas fa-user-circle"></i>Username</a
        >
      </li>
    </ul>
  </div>
</div>

<!-- Hero Section -->
<section class="hero-section">
  <div class="hero-content">
    <img th:src="@{/img/koi_des.webp}" alt="Koi Pond Design" />
    <h1>Design request service</h1>
    <ol class="breadcrumb">
      <li><a th:href="@{/Homepage}">Home</a></li>
      <li><a th:href="@{/Design}">Services</a></li>
      <li class="active">Design service</li>
    </ol>
  </div>
</section>

<!-- Main Content -->
<section class="introduction">
  <div class="container">
    <div class="introduction-content">
      <div class="intro-wrapper">
        <div class="col-md-3 intro-image">
          <img th:src="@{/img/n6.jpeg}" alt="Koi Pond" />
        </div>
        <div class="col-md-3 third-image">
          <img th:src="@{/img/a1.jpg}" alt="Koi Pond" />
        </div>
        <div class="col-md-6 intro-text">
          <h2>Introduction about the service</h2>
          <p>
            We are proud to offer custom Koi pond design services, helping
            you create a luxurious and tranquil space right in your home.
            With years of experience in designing and building Koi ponds, we
            are committed to delivering complete customer satisfaction
            through creative solutions tailored to your needs and the
            specific conditions of each environment.
          </p>
        </div>
      </div>
    </div>

    <!-- Overview -->
    <div class="overview">
      <h2 class="overview-header">Overview</h2>
      <div class="row overview-image">
        <div class="col-md-4">
          <img th:src="@{/img/a2.jpg}" alt="Koi Pond" />
        </div>
        <div class="col-md-4">
          <img th:src="@{/img/a3.jpeg}" alt="Koi Pond" />
        </div>
        <div class="col-md-4">
          <img th:src="@{/img/n6.jpeg}" alt="Koi Pond" />
        </div>
      </div>
    </div>

    <!-- Process of Service -->
    <div class="col-md-12">
      <div class="timeline">
        <h2 class="service-header">Service process</h2>
        <!-- Step 1 -->
        <div class="timeline-step">
          <div class="circle"></div>
          <div class="step-content">
            <span class="step-number">Step 1</span>
            <div class="step-box">
              <h3 class="timeline-header">
                Consulting on expressions and aquarium methods
              </h3>
              <p>
                Survey the actual construction site, discuss with customers
                to clearly understand their wishes and preferences...
              </p>
            </div>
          </div>
        </div>

        <!-- Step 2 -->
        <div class="timeline-step">
          <div class="circle"></div>
          <div class="step-content">
            <span class="step-number">Step 2</span>
            <div class="step-box">
              <h3 class="timeline-header">
                Prepare quotes and design tasks
              </h3>
              <p>
                Depending on the size, level and style of the lake, SGL
                Vietnam will consider and quote customers the most specific
                and accurate price.
              </p>
            </div>
          </div>
        </div>

        <!-- Step 3 -->
        <div class="timeline-step">
          <div class="circle"></div>
          <div class="step-content">
            <span class="step-number">Step 3</span>
            <div class="step-box">
              <h3 class="timeline-header">
                Prepare conceptual design documents
              </h3>
              <p>
                Once you have clearly understood the customer's wishes as
                well as the details about the shape and style of the koi
                fish pond, after signing the contract, the company's team of
                architects will prepare a conceptual design document to send
                to customers.
              </p>
            </div>
          </div>
        </div>

        <!-- Step 4 -->
        <div class="timeline-step">
          <div class="circle"></div>
          <div class="step-content">
            <span class="step-number">Step 4</span>
            <div class="step-box">
              <h3 class="timeline-header">
                Prepare basic design and construction design documents
              </h3>
              <p>
                After sending the preliminary design drawing (concept), we
                will continue to discuss to find out the level of customer
                satisfaction with the drawing. After that, the drawing will
                continue to be perfected to create the most perfect product.
              </p>
            </div>
          </div>
        </div>

        <!-- Step 5 -->
        <div class="timeline-step">
          <div class="circle"></div>
          <div class="step-content">
            <span class="step-number">Step 5</span>
            <div class="step-box">
              <h3 class="timeline-header">Construction</h3>
              <p>
                Engineers and construction staff will construct the project
                according to the developed documents. The project
                supervision engineer will ensure construction progress and
                other related factors when constructing a koi pond.
              </p>
            </div>
          </div>
        </div>

        <!-- Step 6 -->
        <div class="timeline-step">
          <div class="circle"></div>
          <div class="step-content">
            <span class="step-number">Step 6</span>
            <div class="step-box">
              <h3 class="timeline-header">Handover and maintenance</h3>
              <p>
                When the project is done, then we will handover to customer
                and maintenance also take care your Koi fish, plant...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Messenger Button Here -->
    <div class="messenger-button-wrapper">
      <button id="messenger-button" class="btn btn-primary">
        Message us on Facebook!
      </button>
    </div>
    <!-- Form design -->
    <div id="fb-root"></div>
    <script
            async
            defer
            crossorigin="anonymous"
            src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0"
            nonce="your_nonce_value"
    ></script>
    <div
            class="fb-customerchat"
            attribution="setup_tool"
            page_id="YOUR_PAGE_ID"
    ></div>
  </div>
</section>

<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <div class="user-info">
    <img
            th:src="@{/img/avatar.png}"
            alt="User Avatar"
            class="user-avatar"
    />
    <p class="username">Username</p>
  </div>
  <ul class="sidebar-menu">
    <li>
      <a href="#"><i class="fas fa-home"></i> Home</a>
    </li>
    <li>
      <a href="#"><i class="fas fa-history"></i> History Order</a>
    </li>
    <li>
      <a href="#"><i class="fas fa-user-circle"></i> Profile</a>
    </li>
    <li>
      <a href="#"><i class="fas fa-cog"></i> Settings</a>
    </li>
    <li>
      <a href="#"><i class="fas fa-sign-out-alt"></i> Log Out</a>
    </li>
  </ul>
</div>

<!-- Footer -->
<div class="footer">
  <div class="footer-container">
    <div class="footer-info">
      <h4>Information</h4>
      <p>Open: 8 AM - 10 PM</p>
      <p>
        PPFH+362, Phú Mỹ Hưng, Khu đô thị Phú Mỹ Hưng, Quận 7, TP. Hồ Chí
        Minh
      </p>
    </div>
    <div class="footer-services">
      <h4>Services</h4>
      <ul>
        <li>
          <a th:href="@{/construction}" class="service-item"
          >Construction Koi pond</a
          >
        </li>
        <li>
          <a th:href="@{/cleaning}" class="service-item"
          >Cleaning and maintenance</a
          >
        </li>
        <li>
          <a th:href="@{/design}" class="service-item"
          >Design upon requirements</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-contact">
      <h4>Contact</h4>
      <p><i class="fa-solid fa-phone"></i> 0972423242</p>
      <p><i class="fa-solid fa-envelope"></i> koipond@gmail.com</p>
      <p>
        <i class="fa-brands fa-facebook"></i>
        <a th:href="'https://facebook.com'">Visit us</a>

      </p>
    </div>
  </div>
</div>
<script>
  document
          .getElementById("messenger-button")
          .addEventListener("click", function () {
            window.open(
                    "https://m.me/61567324654815?ref=T%C3%B4i%20mu%E1%BB%91n%20%C4%91%C6%B0%E1%BB%A3c%20design",
                    "_blank"
            );
          });
</script>
</body>
</html>
