<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forgotPassword.css">

</head>
<body>
<h2>Forgot Password</h2>
<!-- Cập nhật action từ "/auth/forgot-password" thành "/account/forgot-password" -->
<form th:action="@{/account/forgot-password}" method="POST">
    <label for="email">Enter your email:</label>
    <input type="email" id="email" name="email" required>
    <button type="submit">Submit</button>
</form>
<p class="error-message" th:if="${errorMessage}" th:text="${errorMessage}"></p>
<p class="success-message" th:if="${successMessage}" th:text="${successMessage}"></p>

</body>
</html>