<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Available Projects</title>
    <link rel="stylesheet" href="/css/available-projects.css">

</head>
<body>
<h1>Available Projects</h1>
<table border="1">
    <thead>
    <tr>
        <th>Design ID</th>
        <th>Images</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Size</th>
        <th>Water Capacity</th>
        <th>Estimated Completion Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="design : ${designs}">
        <td th:text="${design.designId}"></td>
        <td th:src="@{${design.img}}"></td>
        <td th:text="${design.designName}"></td>
        <td th:text="${design.description}"></td>
        <td th:text="${design.formattedPrice}"></td>
        <td th:text="${design.size}"></td>
        <td th:text="${design.waterCapacity}"></td>
        <td th:text="${design.estimatedCompletionTime}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
