<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Images</title>
  <link rel="stylesheet" href="/css/viewProjectImages.css">
</head>
<body>

  <h1>Project Progress Images</h1>

  <div class="images-container">
    <th:block th:if="${progressImages != null}">
      <th:block th:each="imagePath : ${progressImages}">
        <div class="image-card">
          <img th:src="${imagePath}" alt="Progress Image" class="progress-image" />
        </div>
      </th:block>
    </th:block>
  
    <!-- Display message when no images are available -->
    <p th:if="${noImagesMessage != null}" th:text="${noImagesMessage}"></p>
  </div>
  
  <div class="back-button-container">
    <a th:href="@{/projects/viewDetailProject/{projectID}(projectID=${staffProjectID})}" class="back-button">Back to Project</a>
  </div>
  <div class="delete-button-container">
    <form th:action="@{/deleteService/{id}(id=${staffProjectID})}" method="post">
      <button type="submit" class="delete-button">Delete Service</button>
    </form>
  </div>
</body>
</html>