<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="viewCartPage.js" defer></script>
    <link rel="stylesheet" href="/css/viewCartPage.css" />
    <link rel="stylesheet" href="/src/main/resources/static/css/viewCart.css" />
    <title>View Cart</title>
  </head>
  <body>
    <!-- HEADER -->
    <div class="nav">
      <div class="nav-button">
        <button id="menu-toggle" class="btn">&#9776;</button>
      </div>
      <div class="nav-logo">
        <p>LOGO</p>
      </div>
      <div class="nav-menu" id="navMenu">
        <ul>
          <li><a th:href="@{/homepage}" class="link">Home</a></li>
          <li><a th:href="@{/about}" class="link">About</a></li>
          <li><a th:href="@{/blog}" class="link">Blog</a></li>
          <li><a th:href="@{/services}" class="link">Services</a></li>
          <li><a th:href="@{/products}" class="link">Product</a></li>
          <li>
            <a href="#" class="icon">
              <i class="fas fa-shopping-cart"></i>
              <span class="notification-badge">0</span>
            </a>
          </li>
          <li>
            <a th:href="@{/profile}" class="icon" id="accountIcon">
              <i class="fas fa-user-circle"></i>
              <span th:text="${username}">Username</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Hero Section -->

    <section class="hero-section">
      <ol class="breadcrumb">
        <li><a th:href="@{/Homepage}">Home</a></li>
        <li><a th:href="@{/Availableproject}">Products</a></li>
        <li class="active">View Cart</li>
      </ol>
    </section>
    <!-- View Cart Section -->
    <div class="container">
      <div class="cart">
        <h2>View Cart</h2>
        <table>
          <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Action</th>
          </tr>

          <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td class="product-image">
              <img th:src="@{${product.image}}" alt="Product Image" />
              <span th:text="${product.name}"> Name</span>
            </td>
            <td>
              <div class="quantity-container">
                <button
                  class="quantity-btn increase-btn"
                  th:data-id="${product.id}"
                >
                  -
                </button>
                <input
                  type="text"
                  th:id="'quantity-' + ${product.id}"
                  th:value="${product.quantity}"
                  min="1"
                  max="1000"
                  step="1"
                />
                <button
                  class="quantity-btn increase-btn"
                  th:data-id="${product.id}"
                >
                  +
                </button>
              </div>
            </td>
            <td th:text="${product.price} + ' VND'"></td>
            <td>
              <div class="icon-bin" th:onclick="|deleteRow(${product.id})|">
                <i class="fa-solid fa-trash"></i>
              </div>
            </td>
          </tr>

          <tr class="total-row">
            <td colspan="3">Sub Total:</td>
            <td th:text="${subtotal} + ' VND'"></td>
          </tr>
          <tr class="total-row">
            <td colspan="3">Discount:</td>
            <td th:text="${discountPercentage} + '%'"></td>
          </tr>
          <tr class="total-row">
            <td colspan="3">Total:</td>
            <td th:text="${total} + ' VND'"></td>
          </tr>
        </table>
        <div class="continue-shopping">
          <a th:href="@{/products}">Continue Shopping</a>
        </div>
      </div>

      <!-- Payment Info Section -->
      <div class="payment-info">
        <h2>Payment</h2>
        <form th:action="@{/checkout}" method="post">
          <label for="payment-method">Payment Method:</label><br />
          <input
            type="radio"
            id="cod"
            name="payment-method"
            value="cod"
            checked
          />
          COD<br />
          <input
            type="radio"
            id="bank-transfer"
            name="payment-method"
            value="bank-transfer"
          />
          Bank transfer<br /><br />
          <button type="submit" class="checkout-btn">Check Out</button>
        </form>
      </div>
    </div>

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
      <div class="user-info">
        <img src="avatar.png" alt="User Avatar" class="user-avatar" />
        <p class="username" th:text="${username}">Username</p>
      </div>
      <ul class="sidebar-menu">
        <li>
          <a th:href="@{/home}"><i class="fas fa-home"></i> Home</a>
        </li>
        <li>
          <a th:href="@{/orders/history}"
            ><i class="fas fa-history"></i> History Order</a
          >
        </li>
        <li>
          <a th:href="@{/profile}"
            ><i class="fas fa-user-circle"></i> Profile</a
          >
        </li>
        <li>
          <a th:href="@{/settings}"><i class="fas fa-cog"></i> Settings</a>
        </li>
        <li>
          <a th:href="@{/logout}"
            ><i class="fas fa-sign-out-alt"></i> Log Out</a
          >
        </li>
      </ul>
    </div>

    <!-- Footer -->
    <div class="footer">
      <div class="footer-container">
        <div class="footer-info">
          <h4>Information</h4>
          <p>Open: 8 AM - 10 PM</p>
          <p>
            PPFH+362, Phú Mỹ Hưng, Khu đô thị Phú Mỹ Hưng, Quận 7, TP. Hồ Chí
            Minh
          </p>
        </div>
        <div class="footer-services">
          <h4>Services</h4>
          <ul>
            <li>
              <a th:href="@{/services/construction}" class="service-item"
                >Construction Koi pond</a
              >
            </li>
            <li>
              <a th:href="@{/services/cleaning}" class="service-item"
                >Cleaning and maintenance</a
              >
            </li>
            <li>
              <a th:href="@{/services/design}" class="service-item"
                >Design upon requirements</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-contact">
          <h4>Contact</h4>
          <p><i class="fa-solid fa-phone"></i> 0972423242</p>
          <p><i class="fa-solid fa-envelope"></i> koipond@gmail.com</p>
          <p>
            <i class="fa-brands fa-facebook"></i
            ><a href="https://facebook.com" target="_blank">Visit Us</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
